<div ng-controller="boletoCheckoutController">
	<form name='userForm' class="css-form" ng-submit="userForm.$valid && checkout()" novalidate >  
	  <div class="item item-divider">
	  	CPF para emissão do boleto bancario
	  </div>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">CPF</span>
	    <input type="text"  ng-model='user.cpf' mask='999-999-999-99' restrict="reject" clean="true" required>
	  </label>
	  <input class="button button-outline button-positive button-block" value="Finalizar"  type="submit" ng-disabled="userForm.$invalid"></input>
	</form>
</div>