<form name='userForm' class="css-form" ng-submit="userForm.$valid && checkout()" novalidate>  
  <div class="item item-divider">
  	Dados do cartão de crédito
  </div>
  <label class="item item-input item-stacked-label">
    <span class="input-label">CPF</span>
    <input type="text"  ng-model='user.cpf' ui-mask='999-999-999-99' required>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Nome do titular</span>
    <input type="text"  ng-model='user.name' required>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Numero do Cartão</span>
    <input type="text"  ng-model='user.cardnumber' ui-mask='9999-9999-9999-9999' required>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">CVV</span>
    <input type="text"  ng-model='user.cvv' ui-mask='999'required>
  </label>
  <div class="row item item-input item-stacked-label">
    <div class="col">
    	<label class="item item-input item-stacked-label">
  	  <span class="input-label">Mês de expiração</span>
  	  <input type="text"  ng-model='user.expirationMonth' ui-mask='99' required>
  	</label>
    </div>
    <div class="col">
    	<label class="item item-input item-stacked-label">
  	  <span class="input-label">Ano de expiração</span>
  	  <input type="text"  ng-model='user.expirationYear' ui-mask='9999' required>
  	</label>
    </div>
  </div>
  <input class="button button-outline button-positive button-block" value="Register"  type="submit" ng-disabled="userForm.$invalid"></input>
</form>