<ion-tabs class="positive" tabs-type="tabs-positive" animation="slide-left-right">
      
      <ion-tab icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
      	<ion-nav-view name="tab-home" ></ion-nav-view>
      </ion-tab>

      <ion-tab icon-off="ion-ios-box-outline" icon-on="ion-ios-box" href="#/tab/multiStore">
      	<ion-nav-view name="tab-multiStore" ></ion-nav-view>
      </ion-tab>

      <ion-tab icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/login">
      	<ion-nav-view name="tab-login" ></ion-nav-view>
      </ion-tab>

      <ion-tab icon-off="ion-ios-heart-outline" icon-on="ion-ios-heart" href="#/tab/wishlist">
      	<ion-nav-view name="tab-wishlist" ></ion-nav-view>
      </ion-tab>

</ion-tabs>

<div ng-controller="userLoginController" class="tabs tabs-icon-only">
      <a class="tab-item" ng-href="#/tab/home">
        <i class="icon ion-ios-home-outline"></i>
      </a>
      <a class="tab-item" ng-href="#/tab/multiStore">
        <i class="icon ion-ios-box-outline"></i>
      </a>
      <a ng-if="isAuthenticated()" class="tab-item" ng-href="#user/dashboard">
        <i class="icon ion-ios-person-outline"></i>
      </a>
      <a ng-if="!isAuthenticated()" class="tab-item" ng-href="#user/login">
        <i class="icon ion-ios-person-outline"></i>
      </a>  
      <a ng-if="isAuthenticated()" class="tab-item" ng-href="#/user/wishlist">
        <i class="icon ion-ios-heart-outline"></i>
      </a>
      <a ng-if="!isAuthenticated()" class="tab-item" ng-href="#/user/login">
        <i class="icon ion-ios-heart-outline"></i>
      </a>
      <a class="tab-item">
        <i class="icon ion-ios-search"></i>
      </a>
    </div>