<div class="list">
  <div class="item item-divider text-center">
    Dados Pessoais
  </div>
  <span class="item item-icon-left">
    <i class="icon ion-person"></i>
    {{user.firstname}} {{user.lastname}}
  </span>
  <span class="item item-icon-left">
    <i class="icon ion-at"></i>
    {{user.email}}
  </span>

  <span class="item item-icon-left ">
    <i class="icon ion-calendar"></i>
    {{user.birthday | date: 'dd/MM/yyyy'}}
  </span>
  <div class="item item-divider text-center">
    Endereço
  </div>
  <div ng-if="!haveAddress">
    <h3 class="text-center">Nenhum Endereço Cadastrado.</h3>
  </div>
  <div ng-if="haveAddress">
    <span class="item item-icon-left">
      <i class="icon ion-location"></i>
      <p>{{address.city}}, {{address.state}}</p>
    </span>

    <span class="item item-icon-left">
      <i class="icon ion-map"></i>
      <p>{{address.address1}}, {{address.address2}}</p>
    </span>

    <span class="item item-icon-left">
      <i class="icon ion-pound"></i>
      {{address.postcode}}
    </span>

    <span class="item item-icon-left">
      <i class="icon ion-ios-telephone"></i>
      {{address.phoneMobile}}
    </span>
  </div>
</div>
<button class="button button-block button-positive" ng-click="modal.show()">Editar Ou Cadastrar Endereço</button>