<div ng-if="!isEmpty" class="list">
  <div class="item item-divider text-center">
    Dados Pessoais
  </div>
  <span class="item item-icon-left">
    <i class="icon ion-person"></i>
    {{user.firstname}} {{user.lastname}}
  </span>
  <span class="item item-icon-left">
    <i class="icon ion-at"></i>
    {{user.email}}
  </span>

  <span class="item item-icon-left ">
    <i class="icon ion-calendar"></i>
    {{user.birthday | date: 'dd/MM/yyyy'}}
  </span>
  <div class="item item-divider text-center">
    Endereço de Entrega
  </div>
  <span class="item item-icon-left">
    <i class="icon ion-location"></i>
    <p>{{address.city}}, {{address.state}}</p>
  </span>

  <span class="item item-icon-left">
    <i class="icon ion-map"></i>
    <p>{{address.address1}}, {{address.address2}}</p>
  </span>

  <span class="item item-icon-left">
    <i class="icon ion-pound"></i>
    {{address.postcode}}
  </span>

  <span class="item item-icon-left">
    <i class="icon ion-ios-telephone"></i>
    {{address.phoneMobile}}
  </span>
</div>
<button ng-if="!isEmpty" class="button button-block button-positive button-outline" ng-click="openModal()">Editar</button>
<button ng-if="isEmpty" class="button button-block button-positive button-outline" ng-click="openModal()">Cadastrar Novo Endereço</button>