<ion-view view-title="Cart">
	<ion-content class="padding-horizontal has-footer" >
		<ion-list>
			<div ng-repeat="item in ngCart.getCart().items track by $index">
				<ion-item class="item-thumbnail-left" >					
					<img ui-sref="product({productId:item._id})" ng-src="http://127.0.1.1/prestashop{{item.getData().image}}">
					{{ item.getName() }}
					<h2>Tam. {{item.getData().size}}</h2>
					<h3>{{ item.getPrice() | currency:"R$"}}</h3><span style="font-weight: bold">{{ item.getTotal() | currency:"R$"}}</span>

					<div class="button-right">
					   <div class="button-bar">
						  <button class="button button-assertive button-clear icon ion-minus button-small" ng-click="item.setQuantity(-1, true);updateQuantity(item._id,item._data.product_attributte)" ng-disabled="item.getQuantity()==1"></button>
						  <span class="button button-dark button-clear">{{ item.getQuantity() | number }}</span>
						  <button class="button button-positive button-clear icon ion-plus button-small" ng-click="item.setQuantity(+1, true);updateQuantity(item._id,item._data.product_attributte)" ng-disabled="item.getQuantity()==5"></button>
						  <button class="button button-dark button-clear" 
					  	ng-click="remove(item._id,item.getData().product_attributte)"> 
							<i class="ion-ios-trash-outline medium"></i>
						</button>
						</div>
					</div>
				</ion-item>
			</div>
		</ion-list>
		<div class="row ">
		 	<div class="col col-50">Total: {{ ngCart.getSubTotal() | currency:"R$" }} </div>
		</div>
		<a class="button button-outline button-positive button-block" ng-click="finalizar()">Finalizar Pedido</a>
    </ion-content>
</ion-view >

