 <ion-view view-title="Home">
	<ion-content class=" has-footer">
        <ion-slide-box auto-play='true' does-continue='true'>
            <ion-slide>
            	<img class="no-padding img-size" ng-src='img/banner1.jpg'>
            </ion-slide>
            <ion-slide>
            	<img class="no-padding img-size" ng-src='img/banner2.jpg'>
            </ion-slide>
        </ion-slide-box>
        <div class="padding-horizontal" >
        	<div class="container">
			    <div class="row" ng-repeat="product in products track by $index" ng-if="$index % 2 === 0">
			        <div class="col col-50 box-shadow--3dp margin-left--4dp" ng-if="$index < products.length">
				        <a ng-href="#/product/{{product.productId}}">
				            <img class="img-size" ng-src='http://127.0.1.1/prestashop{{product.productImages}}' />
				            <h4 class="css-selector truncate">{{product.productName}}</h4>
		                    <h4 class="css-selector">{{product.productPrice | currency:"R$ ":2}}</h4>
		                    <h4 class="css-selector">3x {{product.productPrice/3 | currency:"R$ ":2}}</h4>
		                    <!--ngcart-addtocart class="button-small no-padding" id="{{products.id_product}}" name="{{products.name}}" price="{{products.product_price.price}}" quantity="1" data="item">Adicionar</ngcart-addtocart-->
		                </a>
			        </div>
			        <div class="col col-50 box-shadow--3dp" ng-if="$index +1 < products.length">
				        <a ng-href="#/product/{{products[$index+1].productId}}">
				            <img class="img-size" ng-src='http://127.0.1.1/prestashop{{products[$index+1].productImages}}' />
				            <h4 class="css-selector truncate">{{products[$index+1].productName}}</h4>
		                    <h4 class="css-selector">{{products[$index+1].productPrice | currency:"R$ ":2}}</h4>
		                    <h4 class="css-selector">3x {{products[$index+1].productPrice/3 | currency:"R$ ":2}}</h4>
		                    <!--ngcart-addtocart class="button-small no-padding" id="{{product[$index+1].id_product}}" name="{{product[$index+1].name}}" price="{{product[$index+1].product_price.price}}" quantity="1" data="item">Adicionar</ngcart-addtocart-->
				        </a>
			        </div>
			   
			    </div>
			</div>
        </div>
        <ion-infinite-scroll
		    on-infinite="getAllProducts()"
		    distance="1%"
		    ng-if="endData">
		  </ion-infinite-scroll>
		</ion-content>
</ion-view >