<ion-view view-title="Product">
  <ion-content class="padding-horizontal has-footer">
    <div>
      <ion-slide-box >
        <ion-slide ng-repeat="image in product.product_images" >
          <img ng-model="image.image" class="img-size" ng-src='http://127.0.1.1/prestashop{{image.image}}'>
        </ion-slide>
      </ion-slide-box>
    </div>
      <h2  class="css-selector text-center">{{::product.product_name}}</h2>
      <h3 class="css-selector text-center">{{::product.product_price | currency:"R$ "}}</h3>
      <h4 class="css-selector">3x {{::product.product_price/3 | currency:"R$ ":2}}</h4>
      <form name="myForm">
        <span ng-show="myForm.service_id.$error.required" class="form-error">Escolha um tamanho</span>
        <label class="item item-input item-select">
          <span >
            <select name="service_id" required ng-model="value" ng-options="value.name for (id_product_attribute,value) in product.product_attributes " ></select>
            <option value="">Tamanho</option>
          </span>
        </label>
      </form>
      <ngcart-addtocart id="{{product.product_id}}" name="{{product.product_name}}" price="{{product.product_price}}" quantity="1" quantity-max="5" data="{'image':product.product_images[0].image,size:value.name, product_attributte:value.id_product_attribute}" ng-click="addProductToCart(product.product_id,value.id_product_attribute)" >Adicionar ao carrinho</ngcart-addtocart>

      <button ng-disabled='added' ng-click="favoriteProduct(product.product_id,value.id_product_attribute)" class="button button-block button-assertive button-outline"><i class="icon ion-ios-heart-outline"></i>Adicionar aos Favoritos</button>

    
    <p class="css-selector" ng-bind-html="product.product_description"></p> 
  </ion-content>
</ion-view>