<ion-view view-title="Dashboard" >
  <ion-content class='has-footer' >
    <div ng-if="isAuthenticated()"> <!-- If user not logged -->

      <header class="image-background-profile">
        <!--img ng-src="img/profile.jpg" class="img-circle user-image"-->
      </header>

      <div class="button-bar no-padding">
        <a class="button button-block button-positive button-outline" ng-click="slideChanged(0)" ng-class="{'active' : slide==0}">Perfil</a>
        <a class="button button-block button-positive button-outline" ng-click="slideChanged(1)" ng-class="{'active' : slide==1}">Histórico</a>
        <a class="button button-block button-positive button-outline" ng-click="slideChanged(2)" ng-class="{'active' : slide==2}">Dados</a>
      </div>

      <ion-slide-box show-pager='false' on-slide-changed="slideHasChanged($index)">
        <ion-slide>
          <div>
            <h4>Primeira Aba</h4>
            <button class="button button-positive" ng-click='loadData()'>Reload</button>
          </div>
        </ion-slide>
        <ion-slide>
          <div> 
            <ion-list>
        <div ng-repeat="group in products">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            {{group.name}}
          </ion-item>
          <ion-item class="item-accordion" ng-repeat="product in group.items" ng-show="isGroupShown(group)">
            <div class="list">

                <a class="item item-thumbnail-left" ng-href="#/product/{{product.productId}}">
                  <img ng-src="http://127.0.1.1/prestashop{{product.productImage}}">
                  <h2>{{product.productName}}</h2>
                  <p>{{product.productPrice | currency:"R$ " }}</p>
                  <p>Tam: {{product.productAttribute}} | Qnt: {{product.productQuantity}} </p>
                </a>
            </div>
            
          </ion-item>
        </div>
      </ion-list>
          </div>
        </ion-slide>
        <ion-slide>
          <div ng-if="isEmpty">
            <h3>Nenhum endereço cadastrado ainda</h3>
          </div>
          <user-Address></user-Address>
        </ion-slide>
      </ion-slide-box>
      <button class="button button-block button-assertive button-outline" ng-click="logout()"> Logout</button>
    </div> <!--ng-if='isAuthenticated'--><!-- If user not logged -->
  </ion-content>
</ion-view>

