<ion-view view-title="Checkout"> 
    <ion-content class="padding-horizontal has-footer" >
    <div class="item item-divider">
      Resumo do pedido
    </div>
    <div class="item item-text-wrap">
      <ngcart-cart></ngcart-cart>
    </div>
    <div class="item item-divider">
      Dados da entrega
    </div>
    <div class="item item-text-wrap">
      Nome: {{userData.firstname}} {{userData.lastname}}</br>
      Aniversário: {{userBirth.birthday}} </br>
      Telefone: {{userData.phone_mobile}} </br>
      Endereço: {{userData.address1}}, {{userData.address2}},
      {{userData.postcode}},
      {{userData.city}}, {{userData.state}},
      {{userData.other}}.
    </div>
    <creditcard-method ng-if="method==0"></creditcard-method>
    <boleto-method ng-if="method==1"></boleto-method>
  	<div class=" button button-clear button-positive button-block" ng-click="show()">Mudar Método de pagamento</div>

    </ion-content>
</ion-view >

