<ion-modal-view >
  <ion-header-bar class="bar bar-header bar-royal" >
    <h1 class="title">Novo Endereço</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content>
    <form name='addressForm' class="css-form" ng-submit="addressForm.$valid && updateOrCreateAddress(address)" novalidate>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Endereço</span>
        <input ng-model="address.address1" type="text" placeholder="Logradouro" required>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Número</span>
        <input ng-model="address.number" type="text" placeholder="Ex: 123" required>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Complemento</span>
        <input ng-model="address.other" type="text" placeholder="Ex: Apto 301">
      </label>


      <label class="item item-input item-stacked-label">
        <span class="input-label">Bairro</span>
        <input ng-model="address.address2" type="text" placeholder="Bairro" required="required">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">CEP*</span>
        <input ng-model="address.postcode" type="text" restrict="reject" mask='99999-999' required>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">Estado*</div>
        <select ng-model="address.id_state" ng-options="key for (key,value) in states">
          <option value="">Selecione o Estado</option>
        </select>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Cidade*</span>
        <input ng-model="address.city" ng-minlength="1" ng-maxlength="32" type="text" placeholder="Cidade" required>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Telefone Fixo</span>
        <input ng-model="address.phone" type="text" restrict="reject" mask='(99)9999-9999'>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Telefone Celular*</span>
        <input ng-model="address.phoneMobile" type="text" restrict="reject" mask='(99)99999-9999' required>
      </label>

      <input class="button button-block button-positive" type="submit" ng-disabled="addressForm.$invalid" value="Registrar" >
    </form>
  </ion-content>
</ion-modal-view>
