<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-royal">
    	<h1 class="title">Cadastro</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
	<ion-content >
  		<form name='userForm' class="css-form" ng-submit="userForm.$valid && signup(userRegister)" novalidate>
  		   
  			<label class="item item-input item-floating-label item-stacked-label">
			    <span class="input-label">Nome</span>
			    <input ng-model="userRegister.name" type="text" placeholder="Nome" required>
			</label>

			<label class="item item-input item-floating-label">
			    <span class="input-label">Sobrenome*</span>
			    <input ng-model="userRegister.lastName" type="text" placeholder="Sobrenome" required="required">
			</label>
		    
		    <label class="item item-input item-floating-label">
			    <span class="input-label">Email*</span>
			    <input ng-model="userRegister.email" type="email" placeholder="Email" required>
			</label>

			<label class="item item-input item-floating-label">
			    <span class="input-label">Senha*</span>
			    <input ng-model="userRegister.password" ng-minlength="5" ng-maxlength="32" type="password" placeholder="Senha" required>
			</label>

			<label class="item item-input item-floating-label">
			    <span class="input-label">Data de nascimento*</span>
			    <input ng-model="userRegister.birth" type="date" placeholder="Data de nascimento" required>
			</label>
			<ion-list>
			    <ion-radio ng-model="userRegister.gender" value="1" required >Masculino</ion-radio>
			    <ion-radio ng-model="userRegister.gender" value="2" required >Feminino</ion-radio>
			    
			</ion-list>
			<ion-radio  ng-model="userRegister.newsletter" value="1">Assinar nosso newsletter?</ion-radio>
		    <div> User Form is valid? {{userForm.$valid}}</div>
		    <input class="button button-block button-positive" type="submit" ng-disabled="userForm.$invalid" value="Register" />
		</form>
    </ion-content>
</ion-modal-view>
