<ion-view view-title="Dashboard" >
  <ion-content class='has-footer' >

      <header class="image-background-profile">
        <!--img ng-src="img/profile.jpg" class="img-circle user-image"-->
      </header>

      <div class="button-bar no-padding">
        <a class="button button-block button-dark button-outline" ng-click="slideChanged(0)" ng-class="{'active' : slide==0}">Perfil</a>
        <a class="button button-block button-dark button-outline" ng-click="slideChanged(1)" ng-class="{'active' : slide==1}">Pedidos</a>
        <a class="button button-block button-dark button-outline" ng-click="slideChanged(2)" ng-class="{'active' : slide==2}">Dados</a>
      </div>

      <ion-slide-box show-pager='false' on-slide-changed="slideHasChanged($index)">
        <ion-slide>
          <div>
            <h4>Primeira Aba</h4>
          </div>
        </ion-slide>
        <ion-slide> <!--historic-->
          <ion-list>
            <ion-item class="item item-icon-left">
                <i class="icon ion-clock"></i>
                  Check mail
            </ion-item>
          </ion-list>
          <a class="button button-block button-dark" ui-sref="historic"> Histórico</a>
        </ion-slide><!--historic-->
        <ion-slide>
          <user-Address hasAddress="hasAddress" ></user-Address>
        </ion-slide>
      </ion-slide-box>
      <button class="button button-block button-assertive button-outline" ng-click="logout()"> Logout</button>
  </ion-content>
</ion-view>

