<ion-view view-title="Wishlist">
  <ion-content class="padding-horizontal has-footer">
    <div ng-if="isAuthenticated()">
      <div class="list" ng-repeat=" prd in product ">
          <a class="item item-thumbnail-left" ng-href="#/product/{{prd.id_product}}">
            <img ng-src="http://127.0.1.1/prestashop{{prd.image}}">
            <h2>{{prd.name}}</h2>
            <h3>{{prd.price | currency:"R$ "}}</h3>
            <h4 class="css-selector">3x {{prd.price/3 | currency:"R$ ":2}}</h4>
          </a>
          <button class="button button-block button-assertive button-outline" ng-click="remove($index,prd.id_product)">Remover</button>
      </div>
    </div>
  </ion-content>
</ion-view>
