/* Empty. Add your own CSS if you like */
.no-padding{
	padding: 0px;
}

.css-selector {
  font-family: 'Lato', serif;
}
.img-size{
	width: 100%;
}
.img-circle{
  border-radius: 50%;
}
.medium {
    font-size: 25px;
}
.truncate {
  width: 140px; /* ajuste para a largura desejada */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-cards{
		width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 4px;
}
a{
	text-decoration: none
}
.margin-left--4dp{
	margin-right: 5px;
}

.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
.box-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}
.box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}
.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}
.box-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}
.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}


.css-form input.ng-invalid.ng-touched {
  background-color: #FA787E;
}

.css-form input.ng-valid.ng-touched {
  background-color: #78FA89;
}

.tab-content {
  border: 1px solid #ddd;
  padding: 20px;
}

.image-background-profile{
  height: 150px;
  background: url('../img/cover2.jpg') center center no-repeat scroll;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size: cover;
  -o-background-size: cover;
}

.user-image{
  position: fixed;
  top: 22%;
  left: 50%;
  width: 30%;
  max-width: 130px;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}