<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <!--link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'-->
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- Agular Routes -->

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script type="text/javascript" src='js/config/routeConfig.js'></script>
    <script type="text/javascript" src='js/config/valueConfig.js'></script>
    

    <!-- Controllers -->
    <script type="text/javascript" src="controller/homeController.js"></script>
    <!-- LOAD BY LAZY_LOAD -->


    <!-- INTERCEPTOR-->
    <script type="text/javascript" src='interceptors/loadingInterceptor.js'></script>
    <script type="text/javascript" src='js/config/interceptorConfig.js'></script>

    
    <!--Factories-->
    <script type="text/javascript" src='factory/alertsFactory.js'></script>
    <script type="text/javascript" src='factory/productFactory.js'></script>
    <script type="text/javascript" src='factory/loading/loadingFactory.js'></script>
    <!--script type="text/javascript" src='factory/checkoutFactory.js'></script>
    <script type="text/javascript" src='factory/cartFactory.js'></script>
    <script type="text/javascript" src='factory/multiStoreFactory.js'></script>
    <script type="text/javascript" src='factory/wishlistFactory.js'></script>
    
    <script type="text/javascript" src='factory/dashboardFactory.js'></script-->
    <!-- LOAD BY LAZY LOAD -->

    <!--Directives-->
    <script type="text/javascript" src='directives/loadingDirective.js'></script>
   

    <!-- Libs -->
    <script type="text/javascript" src='lib/oclazyload/dist/ocLazyLoad.js'></script>
    <script type="text/javascript" src="lib/ngCart/dist/ngCart.js"></script>
    <script type="text/javascript" src='lib/satellizer/satellizer.js'></script>
    <script type="text/javascript" src='https://cdn.rawgit.com/abdmob/x2js/master/xml2json.js'></script>
    <script type="text/javascript" src='lib/ngMask/dist/ngMask.min.js'></script>
   
  </head>

  <body ng-app="app" >
    <ion-nav-bar class="bar-royal">
      <ion-nav-back-button>
        <i class = "icon ion-arrow-left-c"></i> Back
      </ion-nav-back-button>
      <ion-nav-buttons side="right">
        <a class="button" ng-href="#/cart" >
          <ngcart-summary></ngcart-summary>
        </a>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view>
      <div loading-directive style="position:fixed; display:none;">Loading...</div>

    </ion-nav-view>


    <div ng-controller="homeController" class="tabs tabs-icon-only">
        <a class="tab-item" ui-sref="home" ui-sref-active="active"  >
          <i class="icon ion-ios-home-outline" ></i>
        </a>
      <a class="tab-item" ui-sref="multiStore" ui-sref-active="active">
        <i class="icon ion-ios-box-outline"></i>
      </a>
      <a ng-if="isAuthenticated()" class="tab-item" ui-sref="userDashboard" ui-sref-active="active">
        <i class="icon ion-ios-person-outline"></i>
      </a>
      <a ng-if="!isAuthenticated()" class="tab-item" ui-sref="userLogin" ui-sref-active="active">
        <i class="icon ion-ios-person-outline"></i>
      </a>  
      <a ng-if="isAuthenticated()" class="tab-item" ui-sref="wishlist" ui-sref-active="active">
        <i class="icon ion-ios-heart-outline"></i>
      </a>
      <a ng-if="!isAuthenticated()" class="tab-item" ui-sref="userLogin" ui-sref-active="active">
        <i class="icon ion-ios-heart-outline"></i>
      </a>
      <a class="tab-item" ui-sref-active="active" ui-sref="categories" >
        <i class="icon ion-ios-search"></i>
      </a>
    </div>
  </body>
</html>

